.add-flashcard-wrapper {
  background-color: rgb(163, 111, 247);
  padding: 20px;
}

.add-flashcard-wrapper h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
}
.add-flashcard-wrapper p {
  color: white;
}

.deck-title-container {
  display: flex;
  flex-direction: column;
}
.deck-title-container p {
  font-size: 20px;
  margin: 5px;
}

.deck-title-container input {
  font-size: 20px;
  padding: 5px;
  border: none;
  outline: none;
}

.deck-title-container button {
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(82, 179, 90);
  color: white;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.add-flashcard-wrapper button {
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(81, 168, 154);
  color: white;
  border: none;
  margin: 10px 20px 10px 0;
  cursor: pointer;
}

.add-flashcard-wrapper button[disabled] {
  opacity: 0.5;
}
.add-flashcard-wrapper p {
  font-size: 20px;
}
