.test-results-wrapper {
  position: relative;
  width: 300px;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.test-results-wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
}

.test-results-wrapper ul {
  list-style-type: decimal;
  max-height: 300px;
  overflow-y: auto;
}

.test-results-wrapper ul li {
  max-width: 40px;
  margin: 0px auto 0px auto;
}

.test-results-wrapper button {
  margin: 10px auto 0 auto;
}
