.pomodore-container {
  width: calc(100vw - 150px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pomodore-panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2676a;
  border-radius: 5px;
  padding: 100px 50px;
}

.pomodore-panel-container p {
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.pomodore-panel-container .timer-container {
  display: flex;
  margin: 30px 0;
}

.pomodore-panel-container select {
  background-color: #f2676a;
  border: 1px solid white;
  background-color: none;
  color: white;
  font-size: 20px;
  width: 220px;
  padding: 15px 10px;
  margin: 10px;
  outline: none;
}

.pomodore-panel-container button {
  color: #f2676a;
}

@media (max-width: 1100px) {
  .pomodore-panel-container {
    padding: 50px 25px;
  }
  .pomodore-panel-container select {
    width: 200px;
  }
}

@media (max-width: 1100px) {
  .pomodore-panel-container .timer-container {
    flex-direction: column;
  }
}
