.section-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pomodore-container {
  background-color: rgb(177, 93, 93);
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pomodore-container p {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}

.pomodore-container .timer-container {
  display: flex;
}

.pomodore-container select {
  background-color: rgb(177, 93, 93);
  border: 1px solid white;
  background-color: none;
  color: white;
  font-size: 20px;
  width: 250px;
  padding: 15px 10px;
  margin: 10px;
  outline: none;
}

.pomodore-container .timer-buttons-container button {
  font-size: 25px;
  background-color: rgb(177, 93, 93);
  padding: 15px 25px;
  margin: 10px;
  color: white;
  border: 1px solid white;
  margin-top: 50px;
  cursor: pointer;
}
