.clock-container {
  position: fixed;
  top: 10px;
  left: 10px;
  min-width: 480px;
  padding: 25px 20px;
  background-color: #f2676a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}
.clock-container > div {
  margin: 0 10px;
}

.clock-container .intervals p {
  font-size: 24px;
}

.clock-container .intervals .number-of-intervals {
  font-size: 36px;
  text-align: center;
}

.clock-container .time-container {
  display: flex;
}

.clock-container .time-container .clock-time {
  font-size: 60px;
}

.clock-container .intervals {
  font-size: 20px;
  margin-top: 15px;
}
