.clock-container {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 250px;
  background-color: rgb(40, 160, 120);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}
.clock-container > div {
  margin: 0 10px;
}

.clock-container .intervals p {
  font-size: 24px;
}

.clock-container .intervals .number-of-intervals {
  font-size: 36px;
  text-align: center;
}

.clock-container .time-container {
  width: 120px;
  display: flex;
}

.clock-container .time-container .clock-time {
  font-size: 50px;
}

.clock-container .intervals {
  font-size: 20px;
  margin-top: 15px;
}
