.deck-cards-wrapper {
  background-color: rgb(163, 111, 247);
  font-size: 20px;
  padding: 20px 30px;
  margin: 10px;
  position: relative;
  color: white;
}

.deck-cards-wrapper h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.flashcard-context {
  margin: 15px 0;
  padding: 10px;
  width: 250px;
}
.flashcard-front {
  background-color: aliceblue;
  color: black;
}
.flashcard-back {
  background-color: rgb(173, 223, 226);
  min-height: 44px;
}

.answer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-wrapper div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 250px;
}

.question {
  margin: 5px;
  font-weight: 600;
}

.deck-page-control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.deck-page-control p {
  min-width: 60px;
  text-align: center;
}
