.NavBarContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  background-color: #343e4e;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  border: 2px solid #525f73;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.NavBarContainer svg {
  height: 60px;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  display: block;
  fill: #999999;
  transition: 0.4s;
}

.link {
  position: relative;
}
.NavBarContainer .link::after {
  position: absolute;
  background-color: #444444;
  top: 0px;
  left: -140px;
  font-size: 24px;
  padding: 10px 15px;
  color: white;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 1.5s;
}

.link:nth-child(1):after {
  content: "notebook";
}
.link:nth-child(2):after {
  content: "pomodore";
}
.link:nth-child(3):after {
  content: "flashcards";
}

.NavBarContainer .active {
  fill: white;
}

.NavBarContainer svg:hover {
  transform: scale(1.3);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.4);
  fill: white;
}

.NavBarContainer .link:hover:after {
  opacity: 1;
}
